@{
    Layout = null;
}
@model mainProjectsData.Models.User

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta content="text/html" charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/login.css" rel="stylesheet">
        <link rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class=" col-md-8 col-sm-12">
                    <div id="myCarousel" class="carousel slide"
                        data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0"
                                class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1"></li>
                            <li data-target="#myCarousel" data-slide-to="2"></li>
                            <li data-target="#myCarousel" data-slide-to="3"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="item active">
                                <img
                                    src="/images/Grow-Trees-On-the-path-to-environment-sustainability-login.png"
                                    alt="Environment Activity" style="width:
                                    100%;">
                                <div class="carousel-caption">
                                    <h3>Sed ut perspiciatis unde omnis iste
                                        natus voluptatem.</h3>
                                <p id="disap">
                                    Lorem ipsum dolor sit amet, consectetur
                                        adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna
                                        aliqua. Ut enim ad minim veniam, quis
                                        nostrud exercitation ullamco laboris
                                        nisi ut aliquip ex ea commodo consequat.
                                        Duis aute irure dolor in reprehenderit
                                        in voluptate velit esse cillum dolore eu
                                        fugiat nulla pariatur. Excepteur sint
                                        occaecat cupidatat non proident, sunt in
                                        culpa qui officia deserunt mollit anim
                                        id est laborum.</p>
                                </div>
                            </div>

                            <div class="item">
                                <img
                                    src="/images/Grow-Trees-On-the-path-to-environment-sustainability-login.png"
                                    alt="Environment Activity" style="width:
                                    100%;">
                                <div class="carousel-caption">
                                    <h3>Sed ut perspiciatis unde omnis iste
                                        natus voluptatem.</h3>
                                <p id="disap">
                                    Lorem ipsum dolor sit amet, consectetur
                                        adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna
                                        aliqua. Ut enim ad minim veniam, quis
                                        nostrud exercitation ullamco laboris
                                        nisi ut aliquip ex ea commodo consequat.
                                        Duis aute irure dolor in reprehenderit
                                        in voluptate velit esse cillum dolore eu
                                        fugiat nulla pariatur. Excepteur sint
                                        occaecat cupidatat non proident, sunt in
                                        culpa qui officia deserunt mollit anim
                                        id est laborum.</p>
                                </div>
                            </div>

                            <div class="item">
                                <img
                                    src="/images/Grow-Trees-On-the-path-to-environment-sustainability-login.png"
                                    alt="Environment Activity" style="width:
                                    100%;">
                                <div class="carousel-caption">
                                    <h3>Sed ut perspiciatis unde omnis iste
                                        natus voluptatem.</h3>
                                <p id="disap">
                                    Lorem ipsum dolor sit amet, consectetur
                                        adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna
                                        aliqua. Ut enim ad minim veniam, quis
                                        nostrud exercitation ullamco laboris
                                        nisi ut aliquip ex ea commodo consequat.
                                        Duis aute irure dolor in reprehenderit
                                        in voluptate velit esse cillum dolore eu
                                        fugiat nulla pariatur. Excepteur sint
                                        occaecat cupidatat non proident, sunt in
                                        culpa qui officia deserunt mollit anim
                                        id est laborum.</p>
                                </div>
                            </div>
                            <div class="item">
                                <img
                                    src="/images/Grow-Trees-On-the-path-to-environment-sustainability-login.png"
                                    alt="Environment Activity" style="width:
                                    100%;">
                                <div class="carousel-caption">
                                    <h3>Sed ut perspiciatis unde omnis iste
                                        natus voluptatem.</h3>
                                    <p id="disap">Lorem ipsum dolor sit amet, consectetur
                                        adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna
                                        aliqua. Ut enim ad minim veniam, quis
                                        nostrud exercitation ullamco laboris
                                        nisi ut aliquip ex ea commodo consequat.
                                        Duis aute irure dolor in reprehenderit
                                        in voluptate velit esse cillum dolore eu
                                        fugiat nulla pariatur. Excepteur sint
                                        occaecat cupidatat non proident, sunt in
                                        culpa qui officia deserunt mollit anim
                                        id est laborum.</p>
                                </div>
                            </div>
                        </div>
                        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                            <span class="sr-only">Previous</span>
                          </a>
                        <a class="right carousel-control" href="#myCarousel"
                            data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12" id="leftpad">
                    <form style="margin-top: 10%;max-width: 100%;align-content: center;" method="post" >
                        <ul style="list-style-type: none;">
                            <li>
                                <span>
                                    @if(TempData["Existant User"] !=  null)
                                {
                                  <p style="text-danger">  @TempData["Existant User"].ToString(); </p>
                                }

                                @*@* @if(TempData["Validation"] !=  null)
                                {
                                  <p>  @TempData["Validation"].ToString(); </p>
                                }*@
                                </span>
                            </li>
                            <li>
                                <Label>First Name</Label>
                            </li>
                            <li id="regmargin">
                                <input type="text" id="boarderwidth"
                                    placeholder="Enter First Name"class="form-control"
                                    style="height:
                                    56px;border-radius: 3px;" asp-for="FirstName"
                                    name="Firstname">
                                    <span class="text-danger" asp-validation-for="FirstName"></span>
                            </li>
                            <li><li>
                                <Label>Last Name</Label>
                            </li>
                            <li id="regmargin">
                            <input type="text" id="boarderwidth"
                                    placeholder="Enter Last Name"class="form-control"
                                    style="height:
                                    56px;border-radius: 3px;" asp-for="LastName"
                                    name="Lastname">
                                    <span class="text-danger" asp-validation-for="LastName"> </span>
                            </li>
                            <li><li>
                                <Label>Phone Number</Label>
                            </li>
                            <li id="regmargin">
                            <input type="tel" id="boarderwidth"
                                    placeholder="Enter Phone Number"class="form-control"
                                    style="height:
                                    56px;border-radius: 3px;" asp-for="PhoneNumber"
                                    name="phoneNumber">
                                    <span class="text-danger" asp-validation-for="PhoneNumber"></span>
                            </li>
                            <li>
                            <li>
                                <Label>Email Address</Label>
                            </li>
                            <li id="regmargin">
                            <input type="email" id="boarderwidth"
                                    placeholder="evan.donohue@gmail.com"class="form-control"
                                    style="height:
                                    56px;border-radius: 3px;" asp-for="Email"
                                    name="Email">
                                    <span class="text-danger" asp-validation-for="Email"></span>
                            </li>
                            <li>
                                <Label>Password</Label>
                            </li>
                            <li id="regmargin">
                            <input type="password" id="boarderwidth"
                                    placeholder="Password"class="form-control"
                                    style="height:
                                    56px;border-radius: 3px;" asp-for="Password"
                                    name="Password">
                                    <span class="text-danger" asp-validation-for="Password"></span>
                            </li>
                            <li>
                                <Label>Confirm Password</Label>
                            </li>
                            <li id="regmargin">
                            <input type="password" id="boarderwidth"
                                    placeholder="Password"class="form-control"
                                    style="height:
                                    56px;border-radius: 3px;margin-bottom:20px"
                                    name="ConfirmPassword">
                            </li>
                            <li id="regmargin">
                                <button id="loginbutton" type="submit" class="form-control">
                                    Register
                                </button>
                            </li>
                            <li id="logalign22" style="align-items:end;text-align: center">
                                <a asp-area="" asp-controller="Login" asp-action="Forgotpassword">Lost your password?</a>
                            </li>
                            <li id="logalign22" style="align-items:end;text-align: center;">
                                <label>Already register?</label>
                                <a asp-area="" asp-controller="Home" asp-action="MissionDetail">Login now</a>

                            </li>
                            <li id="logalign22" style="align-items:end;text-align: center;">
                                <a asp-controller="Home" asp-action="Index" style="color: #414141;">Privacy Policy</a>
                             </li>


                        </ul>
                    </form>
                </div>

            </div>
        </div>
        </body>
    </html>