#dropdownlimit{
    overflow-y:scroll;
    max-height:300px;

}
#dropdownmenu {
    color: #414141;
    font-family: 'Noto Sans';
    justify-content: space-between;
    align-items: center;
    display: flex;
    width: 125px;
    border:none;
}
@media screen and (max-width:1024px) {
    #dropdownmenu {
        width: auto;
        border:none;
    }
}